{% extends 'core/base.html '%}
{% load static %}

{% block title%}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock%}

{% block extend_header %}{% endblock%}

{% block content %}
    
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">See my recent blogs below</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="lightBg">
        <div class="container">
          <div class="portfolioContentMain">
            <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <img src="{% static 'images/project-img.jpg' %}" alt="..." class="pImg">
                </div>
              </div>
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <img src="{% static 'images/project-img.jpg' %}" alt="..." class="pImg">
                </div>
              </div>
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <img src="{% static 'images/project-img.jpg' %}" alt="..." class="pImg">
                </div>
              </div>
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <img src="{% static 'images/project-img.jpg' %}" alt="..." class="pImg">
                </div>
              </div>
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <img src="{% static 'images/project-img.jpg' %}" alt="..." class="pImg">
                </div>
              </div>
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <img src="{% static 'images/project-img.jpg' %}" alt="..." class="pImg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}